@import './variables';
@import './abstract';
@import './base';

.hello {
  text-align: center;
  font-size: 100px;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: none;
}